* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: .8em;
  color: rgba(0, 0, 0, .87);
}

header {
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

.google-section {
  display: flex;
  align
}

.google-section .logo::before {
  content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg');
}
.google-section .logo {
  
}

.google-section .title {
  color: #5f6368;
  opacity: 1;
  font-size: 22px;
}

.google-section .left {
  display: flex;
  align-items: center;
}

nav {

}

nav ul {
  list-style: none;
  display: flex;
}

nav ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
}

.container {
  max-width: 978px;
  margin: calc(90px + 4rem) auto 5rem; /* 90px -> height of header */
  
}

section {
  margin-bottom: 4rem;
}

h3 {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 2rem;
}

.answer p {
  margin-bottom: 2rem;
  line-height: 2em;
}

.answer a {
  text-decoration: none;
}

.answer .outer-list {
  padding-left: 1rem;
}

.answer .inner-list {
  padding-left: 1rem;
  list-style-type: lower-alpha;
}

li {
  line-height: 1.5em;
  padding: 0 0 1em 1em;
}
